package com.gargujjwal.{package_name};

import org.junit.Test;
import static org.junit.Assert.*;

public class {class_name}Test {{
    private {class_name} solution = new {class_name}();

    @Test
    public void testSolution() {{
        // TODO: Add test cases
    }}
}}
