package com.gargujjwal.{package_name};

public class {class_name} {{
    public void solve() {{
        // TODO: Implement solution
    }}

    public static void main(String[] args) {{
        {class_name} solution = new {class_name}();
        solution.solve();
    }}
}}
